* {
    /* border-top: 10px solid #1098ad; */
    /* 经常先开始设为0之后好调整，因为*很容易就可以被override */
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #444;
    border-top: 10px solid #1098ad;
    position: relative;
}

.container {
    width: 800px;
    /* trick to center a container
    left and right margin to be equal and auto calculated */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}

.post-header {
    margin-bottom: 40px;
}

h1,
h2,
h3 {
    color: #1098ad;
}


h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

/* decendent selector */
/* footer p {
    font-size: 16px;
} */

/* nested decendent selector */
/* article header p {
    font-style: italic;
} */

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

/* removing dots in ul */
.related {
    list-style: none;
}

nav {
    font-size: 18px;
}

article {
    margin-bottom: 60px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 0;
    width: 500px;
}

/* TODO: Pseudo-classes */

/* select all li elements who are the first child of their parents */
li:first-child {
    font-weight: bold;
}

/* select all li elements who are the last child of their parents */
li:last-child {
    font-style: italic;
}

/* second child
li:nth-child(2) {
    color: red;
}
/* even/odd child
li:nth-child(even) {
    color: blue;
} */

/* the below doesn't work because p is not child of article. first child of article is actually header so it doesn't work. */
/* article p:first-child {
    color: red;
} */

/* below works because there is a p that's article's last child */
/* article p:last-child {
    color: red;
} */

/* TODO: styling links */
/* select anchors with links (href attributes) */
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    /* color: #777; */
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline dotted orangered;
}

/* when actually click */
a:active {
    background-color: black;
    font-style: italic;
}

.post-img {
    width: 100%;
    height: auto;
}

nav a:link {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

/* 确保最右边没有margin */
nav a:link:last-child {
    margin-right: 0;
}

button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    /* body is relative所以按body不然就按viewport */
    bottom: 50px;
    right: 50px;
}

/* pseudo elements */
h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

/* selecting adjacent elements of h3 (meaning the first following the siblings) */
/* h3 + p::first-line {
    color: red;
} */

h2 {
    position: relative;
}

h2::after {
    content: "TOP";
    background-color: #ffe70e;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    right: -25px;
}